.kind-exam .kind-exam-question {
    font-weight: bold;
}

.kind-exam .kind-exam-question:before {
    margin-right: 0.5em;
    font-size: 1.5em;
    vertical-align: middle;
}

.kind-exam .kind-exam-description > div {
    padding: 1ch;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.kind-exam .kind-exam-choice > :first-child {
    display: table-row;
}

.kind-exam .kind-exam-choice > :first-child > * {
    display: table-cell;
}

.kind-exam .kind-exam-choice > :first-child > :last-child {
    width: 100%;
    padding-left: 1ch;
}

.kind-exam .kind-exam-choice[data-checked] {
    font-weight: bold;
}

.kind-exam .kind-exam-section > * {
    margin-left: 0;
}

.kind-exam .kind-exam-idontknow {
    font-size: smaller;
}

.kind-exam .kind-exam-answer[contenteditable] {
    border: 1px solid;
    padding: 0.25em;
    min-height: 8ch;
    white-space: pre-wrap;
}

.kind-exam .kind-exam-answer[contenteditable][data-code] {
    font-family: monospace;
    white-space: pre;
    overflow-x: auto;
}

.kind-exam .kind-exam-answer[contenteditable='false'] {
    opacity: 0.5;
}

@media screen {
    .kind-exam .kind-exam-choice {
        border: solid transparent;
        border-radius: .25em;
    }

    .kind-exam .kind-exam-choice:hover {
        background-color: #dcddde;
        border-color: #dcddde;
        cursor: pointer;
    }

    .kind-exam .kind-exam-choice:hover * {
        cursor: pointer;
    }
}

@media print {
    .kind-exam-section > * {
        page-break-inside: avoid;
    }
}
